import(methods)
import(AnnotationDbi)

### Only put what is statically exported here. All the AnnObj instances
### created at load time are dynamically exported (refer to R/zzz.R for
### the details).
export(
    org.Slycopersicum.kozo,
    org.Slycopersicum.kozo_dbconn,
    org.Slycopersicum.kozo_dbfile,
    org.Slycopersicum.kozo_dbschema,
    org.Slycopersicum.kozo_dbInfo,

    org.Slycopersicum.kozoORGANISM
)

